<div class="d-flex justify-content-center align-items-center reset-password-container">
    <div class="col-sm-5 p-3 text-center reset-password-form">
        <h1>Reset password</h1>

        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword()">
            <fieldset class="form-group">
                <div class="form-group">
                    <input class="form-control reset-password-input" type="password" ngDefaultControl formControlName="password" required placeholder="Password" minlength="5">
                </div>
                <div class="form-group">
                    <input class="form-control reset-password-input" type="password" ngDefaultControl formControlName="confirmPassword" required placeholder="Confirm Password" minlength="5">
                </div>
            </fieldset>

            <button class="btn reset-password-button" type="submit">Reset password</button>
        </form>
    </div>
</div>